<% if (twitterBootstrap) { %>
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" aria-hidden="true" {{action 'cancel' view}}>&times;</button>
			<h4 class="modal-title">Todo</h4>
		</div>
		<div {{bind-attr class=":modal-body model.errors.title:has-error"}}>
			<label class="control-label">Title:</label> {{input value=model.title class="form-control"}}
			{{#if model.errors.title}}
				<span class="help-block">{{model.errors.title}}</span>
			{{/if}}
		</div>
		<div class="modal-footer">
			<button class="btn btn-success" {{action 'save' view}}>Save</button>
			<button class="btn btn-danger" {{action 'cancel' view}}>Cancel</button>
		</div>
	</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<% } else if (zurbFoundation) { %>
<h2>Todo</h2>

<div {{bind-attr class="model.errors.title:has-error"}}>
	<label class="control-label">Title:</label> {{input value=model.title class="form-control"}}
	{{#if model.errors.title}}
		<span class="help-block">{{model.errors.title}}</span>
	{{/if}}
</div>

<div>
	<button class="btn btn-success" {{action 'save' view}}>Save</button>
	<button class="btn btn-danger" {{action 'cancel' view}}>Cancel</button>
</div>
<a class="close-reveal-modal" {{action 'cancel' view}}>&#215;</a>
<% } else if (semanticUI) { %>
<i class="close deny icon" {{action 'cancel' view}}></i>
<div class="header">
	Todo
</div>
<div class="content">
<div class="ui form">
	<div {{bind-attr class=":field model.errors.title:error"}}>
		<label>Title</label>
		{{input value=model.title}}
		{{#if model.errors.title}}
		<div class="ui red pointing above label">{{model.errors.title}}</div>
		{{/if}}
	</div>
</div>
</div>
<div class="actions">
	<button class="ui approve button" {{action 'save' view}}>Save</button>
	<button class="ui deny button" {{action 'cancel' view}}>Cancel</button>
</div>
<% } %>
